<mat-card class="post-card mat-elevation-z10 my-4">
    <img mat-card-image src={{fBlog.bannerImg.fileBase64}}>
    <mat-card-header>
        <mat-card-title>
            {{fBlog.recTitle}}
        </mat-card-title>
        <!-- <hr class="m-0 mt-2 mb-1 bg-dark"> -->
    </mat-card-header>

    <mat-card-content>
        <hr class="m-0 mb-2 bg-dark">
        <div class="d-flex justify-content-between">
            <p>Prpartion time</p>
            <p>{{fBlog.recMeal}}</p>
        </div>
        <hr class="m-0 mb-2 bg-dark">

    </mat-card-content>
    <mat-card-footer>

    </mat-card-footer>

</mat-card>