<div class="container bg">
    <div class="section">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand p-0" href="#">
                <img src="../assets/images/logo.jpg" alt="logo" title="logo" id="logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="social-icons">
                <button mat-icon-button>
                    <mat-icon>
                        <i class="fa-brands fa-linkedin"></i>

                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        <i class="fa-brands fa-facebook"></i>

                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        <i class="fa-brands fa-twitter"></i>
                    </mat-icon>
                </button>
                <button mat-icon-button>
                    <mat-icon>
                        <i class="fa-brands fa-instagram"></i>
                    </mat-icon>
                </button>

            </div>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav  ">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Post Types</a>
                    </li>
                </ul>
            </div>

            <form class="form-inline my-2 my-lg-0">

                <button mat-icon-button color="primary" class="mr-2" (click)="onSearchClick()">
                    <mat-icon>
                        <i class="fa-solid fa-magnifying-glass fa-2 mr-3"></i>

                    </mat-icon>
                </button>
                <button mat-raised-button color="primary" type="button" id="addFoodRecipe" (click)="openPostForm()">Add
                    Recipe</button>
            </form>

        </nav>
        <hr class="m-0 mt-2 mb-1 bg-dark">
        <hr class="m-0 mb-2 bg-dark">
    </div>

    <section>
        <div class="row py-5">
            <div class="col-md-12 text-center">
                <img class="logo"
                    src="https://good-food.cmsmasters.net/wp-content/themes/good-food/theme-vars/theme-style/img/logo_retina.png"
                    alt="good food" title="good food">
            </div>
        </div>

    </section>
    <section>
        <!-- <app-owl-carasoul></app-owl-carasoul> -->
        <app-fb-dash></app-fb-dash>
    </section>
</div>